# if SHIELD_CALEBOARD_LEFT
#   config ZMK_KEYBOARD_NAME
#     default "caleboard v0.1"
#   config ZMK_SPLIT_ROLE_CENTRAL
#     default y
# endif
#

if SHIELD_CALEBOARD_DONGLE

config ZMK_KEYBOARD_NAME
    default "caleboard v0.1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 6

config BT_MAX_PAIRED
    default 6

endif

if SHIELD_CALEBOARD_LEFT || SHIELD_CALEBOARD_RIGHT
  config ZMK_SPLIT
    default y
endif
